---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?alerts=no&aqi=no&days=3&key=<WEATHER_API_KEY>&q=33713
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999966'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 07/02/2024 00:13:31
      Cdn-Edgestorageid:
      - '1068'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 8847519270ffceafd309924b28596ccf
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Saint Petersburg","region":"Florida","country":"USA","lat":27.79,"lon":-82.67,"tz_id":"America/New_York","localtime_epoch":1719879151,"localtime":"2024-07-01
        20:12"},"current":{"last_updated_epoch":1719878400,"last_updated":"2024-07-01
        20:00","temp_c":31.1,"temp_f":88.0,"is_day":1,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"wind_mph":11.9,"wind_kph":19.1,"wind_degree":250,"wind_dir":"WSW","pressure_mb":1013.0,"pressure_in":29.92,"precip_mm":0.0,"precip_in":0.0,"humidity":70,"cloud":25,"feelslike_c":36.4,"feelslike_f":97.4,"windchill_c":29.4,"windchill_f":84.9,"heatindex_c":32.7,"heatindex_f":90.9,"dewpoint_c":22.1,"dewpoint_f":71.7,"vis_km":16.0,"vis_miles":9.0,"uv":7.0,"gust_mph":16.3,"gust_kph":26.3},"forecast":{"forecastday":[{"date":"2024-07-01","date_epoch":1719792000,"day":{"maxtemp_c":29.7,"maxtemp_f":85.5,"mintemp_c":26.8,"mintemp_f":80.3,"avgtemp_c":28.6,"avgtemp_f":83.6,"maxwind_mph":11.6,"maxwind_kph":18.7,"totalprecip_mm":4.29,"totalprecip_in":0.17,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":70,"daily_will_it_rain":1,"daily_chance_of_rain":82,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":11.0},"astro":{"sunrise":"06:39
        AM","sunset":"08:31 PM","moonrise":"02:44 AM","moonset":"04:36 PM","moon_phase":"Waning
        Crescent","moon_illumination":27,"is_moon_up":0,"is_sun_up":1},"hour":[{"time_epoch":1719806400,"time":"2024-07-01
        00:00","temp_c":28.2,"temp_f":82.7,"is_day":0,"condition":{"text":"Light rain
        shower","icon":"//cdn.weatherapi.com/weather/64x64/night/353.png","code":1240},"wind_mph":2.9,"wind_kph":4.7,"wind_degree":315,"wind_dir":"NW","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":2.31,"precip_in":0.09,"snow_cm":0.0,"humidity":75,"cloud":80,"feelslike_c":31.7,"feelslike_f":89.1,"windchill_c":28.2,"windchill_f":82.7,"heatindex_c":31.7,"heatindex_f":89.1,"dewpoint_c":23.1,"dewpoint_f":73.6,"will_it_rain":1,"chance_of_rain":100,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":4.2,"gust_kph":6.8,"uv":1.0},{"time_epoch":1719810000,"time":"2024-07-01
        01:00","temp_c":27.9,"temp_f":82.2,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":0.2,"wind_kph":0.4,"wind_degree":308,"wind_dir":"NW","pressure_mb":1017.0,"pressure_in":30.02,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":36,"feelslike_c":31.3,"feelslike_f":88.3,[...]
